<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Order your burgers!</title>
    <meta charset="utf-8"/>
  </head>
  <body>

    <main>
      <header id="head">
        <h1>Welcome to BurgerOnline!</h1>
        <img id="fig1"src="https://www.salzburgerhof.com/fileadmin/templates/img/slider/restaurant-jagdstube/018_Jagdstube_02-1.jpg" alt="Restaurant">
      </header>
      <section id="Burgerinfo">
        <h2 id="h2">Select Burgers!</h2>
        <p>Select your meal down below!</p>


        <div class="wrapper">
          <div class="a">
            <img src="https://www.max.se/contentassets/00848003f52b4c8d8dcf139ecdb3fc1e/product_gdl-umami-halloumi2.jpg" alt = "Delicious halloumi burger" width="150">
            <ul>
              <li> Vegetarian </li>
              <li>contains <span class="alergies">lactose</span></li>
              <li>987 kcal</li>
            </ul>


          </div>
          <div class="b">
            <img src="https://www.max.se/contentassets/359fcb7f236247a7a4a41cdf2ddf36b0/product_delifresh-signature-plant-beef.jpg" alt="Plant burger" width="150" >
            <!-- PLANT BURGER INFO-->
            <ul>
              <li>Vegan</li>
              <li>Soy burger</li>
              <li>679 kcal</li>
            </ul>
          </div>
          <div class="c">
            <img src="https://www.max.se/contentassets/96a590c660f54c8b83bc5080b036fecf/product_gdl-umami-bacon-burger2.jpg" alt="delicious beef burger" width="150"  >
            <!--BEEF BURGER INFO-->
            <ul>
              <li>Animal based burger</li>
              <li>Contains <span class="alergies">gluten</span></li>
              <li>1050 kcal</li>
            </ul>
          </div>

        </div>

      </section>

      <!--FORM - DELIVERY INFORMATION-->
      <section id="Delinfo">
        <h2>Customer Information</h2>
        <p>Fill in your information below please. </p>

        <h2>Delivery Information</h2>
        <p>Where do you want your burgers delivered?</p>
        <form>
          <p>
            <label for="Fullname">Fullname </label> <br>
            <input id="Fullname"  type="text" placeholder="First and last name" required="required"/>
          </p>
          <p>
            <label for="email">E-mail</label><br>
            <input id="email"  type="email" placeholder="E-mail adress" required="required"/>
          </p>
          <p>
            <label for="Street">Street</label><br>
            <input id="Street" type="text" placeholder="Street" required="required"/>
          </p>

          <p>
            <label for="HouseNumber">House number</label><br>
            <input id="HouseNumber" type="tel"  placeholder="House number"required="required"/>
          </p>
          <p>
            <label for="Payment">Payment method</label><br>
            <select id="Payment">
              <option>Nordea</option>
              <option selected="selected">Klarna</option>
              <option>Swedbank</option>
              <option>AnsarsBank</option>
            </select>
          </p>
          <p>
            <label for="gender">Male</label><br>
            <input id="gender" type="radio" name="gender"/> <br>
            <label for="gender">Female</label><br>
            <input id="gender" type="radio" name="gender"/><br>
            <label for="gender">Other</label><br>
            <input id="gender" type="radio" name="gender"/>
          </p>

        </form>
      </section>
      <button type="submit"><img src="https://www.emojimeaning.com/img/img-apple-160/1f4ec.png" width="15">Place my order!</button>
      <!-- Det här är en kommentar -->
    </main>

    <footer>
      <hr/>
      <p> &copy; 2020 Frickinn Burger inc </p>
    </footer>

  </body>
</html>
