<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Order your burgers!</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <h1>Welcome to BurgerOnline!</h1>
      <section>
        <h2>Select Burgers!</h2>
        <p>Select your meal!</p>
        <h3>Halloumi Crush</h3>
        <img src="https://www.max.se/contentassets/00848003f52b4c8d8dcf139ecdb3fc1e/product_gdl-umami-halloumi2.jpg" alt = "Delicious halloumi burger" width="200">
      </section>
      <section>
        <h2>Customer Information</h2>
        <p>Fill in your information below please. </p>
        <h2>Delivery Information</h2>
        <p>Where do you want your burgers delivered?</p>
      </section>
      <!-- Det här är en kommentar -->
    </main>
    <footer>
      <hr/>
      <p> &copy; Frickinn Burger inc </p>
    </footer>
  </body>
</html>
