@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';
body {
    font-family: Verdana;
    font-size: 0.5cm;
    margin: 0 auto;
}
header h1 {
    position: absolute em;
    padding-bottom: 1em;
}
header img{
    opacity: 0.5;
    width: 100%;
    height:auto;
}


#head{
    margin-top:  5%;
    border: 5px dashed rgb(100,150,200);
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;
    overflow:hidden;
    height: 10em;
}
.alergies {
    color: /*#ff5500*/ rgb(125,0,0);
    font-weight: bold;
}

#Burgerinfo {
    background-color: rgb(0,0,0);
    text-emphasis-color: rgb(255,255,255);
    color: rgb(255,255,255);
    margin-top:3%;
    border: 5px dashed rgb(100,150,200);
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;

}
#Delinfo {
    margin-top: 1%;
    border: 5px dashed rgb(100,150,200);
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 1%;

}

button:hover {
    color: rgb(0,0,250);
}
button{
    margin-top: 2%;
}

h2{
    color:rgb(100,150,200);
}
table.center {
    margin: 0 auto;
    width:120% ;
}
.wrapper{
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 100px 100px 100px ;
    background-color: rgb(0,0,0);
    color: #444;
}

.box {
    background-color: #444;
    color: rgb(255,255,255);
    border-radius: 10px;
    padding: 20px;
    font-size: 150%;

}

.a {
    grid-column: 1 ;
    grid-row: 1;
}
.b {
    grid-column: 2 ;
    grid-row:1;
}

.c {
    grid-column: 3 ;
    grid-row:1;
}
